# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS folder attributes
Icon?
._*

# macOS Thumbnails
Thumbs.db

# Visual Studio Code
.vscode/
.history/
.idea/
*.code-workspace

# Node.js und Nuxt.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nuxt/
dist/
coverage/
*.local

# Python venv
venv/

# Logs
logs
*.log

# Python cache
__pycache__/
